In [40]:
%load_ext autoreload
%autoreload 2
%run ../draw_functions.py
%run ../kstest.py
%run ../utils.py

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [81]:
from utils import *

In [82]:
df_distance(trim(setup('sqlmelpjol', '../Script_bizarre.sql'), 0.2, 0.8))

C:\Users\510215\PycharmProjects\Ai_Lab_Project\utils.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_results = pd.concat([df_results, df_temp], ignore_index=True)

          OrderNo   Distance
0  MX224051663I01  30.717462