In [1]:
%load_ext autoreload
%autoreload 2
%run ../draw_functions.py
%run ../kstest.py
%run ../utils.py

In [2]:
from utils import *

In [3]:
df_data2 = setup('sqlmelpjol', r'..\Script_bizarre.sql')

In [5]:
df_02_08 = df_data2[(df_data2['xtime'] >= 0.2) & (df_data2['xtime'] <= 0.8)].copy()

df_02_08 = add_fitted_slope(df_02_08)

In [6]:
df_results = df_distance(df_02_08)
df_results

C:\Users\510215\PycharmProjects\Ai_Lab_Project\utils.py:82: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_results = pd.concat([df_results, df_temp], ignore_index=True)

             OrderNo   Distance
0     MX22405086ZK01  16.479749
1    MX224061110G601  13.840605
2     MX22401175KT01  12.133907
3     MX12401129LD01  11.341573
4    MX2240223181001   7.911715
..               ...        ...
492   MX32404044IV01 -20.000000
493  MX3240511220Q01 -20.000000
494   MX224051150V01 -20.000000
495  MX324060812CP01 -20.000000
496  MX324042214RO01 -20.000000

[498 rows x 2 columns]