In [78]:
import warnings
warnings.filterwarnings('ignore')

In [79]:
%load_ext autoreload
%autoreload 2
%run ../draw_functions.py
%run ../kstest.py
%run ../utils.py

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [80]:
from utils import *

In [94]:
df_distance(trim(setup('sqlmelpjol', '../Script_bizarre.sql', do_trim=True)))

          OrderNo  Distance
0  MX32401191IL01  3.819998